ENV_STATE=dev
DEV_DATABASE_URL=sqlite:///test.db
DEV_LOGTAIL_API_KEY=mock_key
DEV_LOGTAIL_INGESTING_HOST=mock_host
DEV_MAILGUN_API_KEY=mock_key
DEV_MAILGUN_DOMAIN=example.com
DEV_CELERY_BROKER_URL=redis://localhost:6379/0
DEV_CELERY_RESULT_BACKEND=redis://localhost:6379/0
DEV_B2_KEY_ID=mock_key_id
DEV_B2_APPLICATION_KEY=mock_app_key
DEV_B2_BUCKET_NAME=mock_bucket